<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" id= "task" name="task"
      <% if task.completed == true %>
      checked>
      <% end %>
      <label for="task"><%= link_to task.title, task_path(task.id) %></label>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>

