@import "bootstrap/scss/bootstrap";

ul {
  list-style-type: none;
}
#task {
  margin-right: 10px;
}
.details {
  background-color: #DBDAD6;
  margin-left: 30px;
  width: 250px;
  height: 40px;
  padding: 10px 10px;
}
.container {
  margin-left: 30px;
}
